.sidebar {
  @extend %layout;

  background: darken($border-colour, 5%);

  @include breakpoint(lg-up) {
    background: none;
  }

  @include breakpoint(xl) {
    padding: 1em 0 1em 2em;
  }
}

.widgets {
  list-style-type: none;
  padding: 0;
}

.widget {
  color: lighten($text-colour, 15%);
  font-family: $body-font;
  font-size: 85%;
  margin-bottom: 2em;
}

.widget-title {
  font-size: 1.7em;
}
