@mixin breakpoint($point) {

  $sm-bp:  568;
  $md-bp:  768;
  $lg-bp: 1024;
  $xl-bp: 1280;

  $bp-queries: (
      sm: '(min-width: ' + $sm-bp + 'px) and (max-width: ' + ($md-bp - 1) + 'px)',
      md: '(min-width: ' + $md-bp + 'px) and (max-width: ' + ($lg-bp - 1) + 'px)',
      lg: '(min-width: ' + $lg-bp + 'px) and (max-width: ' + ($xl-bp - 1) + 'px)',
      xl: '(min-width: ' + $xl-bp + 'px)',

      sm-dn: '(max-width: ' + ($md-bp - 1) + 'px)',
      md-dn: '(max-width: ' + ($lg-bp - 1) + 'px)',

      sm-up: '(min-width: ' + $sm-bp + 'px)',
      md-up: '(min-width: ' + $md-bp + 'px)',
      lg-up: '(min-width: ' + $lg-bp + 'px)',

      md-down: '(max-width: ' + ($lg-bp - 1) + 'px)'
  );

  @media #{map-get($bp-queries, $point)} { @content; }
}

@mixin header-sizing($base, $factor) {
  h5 {
    font-size: $base * $factor;
  }

  h4 {
    font-size: $base * ($factor * $factor);
  }

  h3 {
    font-size: $base * ($factor * $factor * $factor);
  }

  h2 {
    font-size: $base * ($factor * $factor * $factor * $factor);
  }

  h1 {
    font-size: $base * ($factor * $factor * $factor * $factor * $factor);
  }
}
