$headline-font: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, 'STKaiti', 'AR PL Ukai HK', 'UKai', sans-serif;
$body-font: Georgia, 'Times New Roman', 'Times', 'STKaiti', 'AR PL Ukai TW', 'UKai', serif;

$brand-colour: #b6100a;
$text-colour: #333;
