article {
  box-sizing: border-box;
  color: $text-colour;
  font-family: $body-font;
  line-height: $content-line-height;
  margin: auto;
  max-width: 42em;
  padding-bottom: 2em;
  width: 100%;

  @include breakpoint(xl) {
    margin: 0;
  }

  img {
    margin: (1em * $content-line-height) auto;
  }

  ol, ul {
    line-height: $content-line-height * 1.2;
  }
}
